*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1{
    color: #3C2313;
    font-size: 40px;
}

h2{
    color:#3C2313;
    margin-bottom: 1rem;
}

li {
    list-style: none;
}

#nav-bar li {
    color : #ffffff;
    margin-right: 1.5rem;
}

a{
    text-decoration: none;
}

body{
    margin: auto;
}

#ofertas{
    background: rgb(20, 20, 20);
    color: white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    padding: 6px 85px;
}

#nav-bar{
    background: rgb(255, 160, 65);
    background: rgb(255, 160, 65);
    display: flex;
    justify-content: space-between;
    padding: 16px 41px;
}

#nav-bar>nav>ul{
    display: flex;
}


#banner{
    background-image: url('../img/Slide.png');
    height: 575px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#banner div{
    margin-right: 115px;
    text-align: center;
}

#banner-titulo{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 37px;
    color:#3C2313;

}

#banner-subtitulo{
    padding: 20px 0px;
    font-size: 18px;
}

#banner button{
    padding: 12px 21px;
    font-size: 18px;
    background-color: #F0A83E;
    border: none;
    border-radius: 6px;
    color: #fff;
}

footer{
    background: rgb(66, 66, 66);
    color: white;
    padding: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;
}

/*DESTACADOS*/
#destacados{
    text-align: center;
}

#destacados nav{
    display: flex;
    justify-content: center;
}

#destacados nav a{
    padding: 5px 16px;
    text-decoration: none;
    color: #666666;
}

#destacados img{
    max-height: 100px;
    margin-top: 15px;
}

/*PRODUCTOS*/

#cont-articulos{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 150px 150px;
    justify-content: center;
}

#cont-articulos img{
    max-height: 200px;
    min-height: 200px;
    width: 100%;
    margin-bottom: 0.5rem;
}

.articulo{
    background-color: #FBFAF6;
    max-height: 250px;
    min-height: 250px;
    text-align: center;
}

.precio{
    color: #F0A83E;
    font-size: 17px;
}
/*-----------*/

#contacto{
    display:block;
    margin:0 auto;
    width:510px;
    text-align: center;
}

#contacto form{
    margin:0 auto;
    width:400px;
}

#contacto input{
    width:380px;
    height:27px;
    background:#3C2313;
    border:none;
    padding:21px;
    margin-top:5px;
    font-size:10px;
    font-weight: bold;
    color:#ffffff;
    border-radius: 14px;
}

#btn-resetear{
    padding: 5px 30px;
    font-size: 17px;
    background-color: #8A8787;
    border: none;
    border-radius: 15px;
    color: #fff;
    margin-top: 1.5rem;
    cursor:pointer;
}

#btn-enviar{
    padding: 5px 30px;
    font-size: 17px;
    background-color: #F0A83E;
    border: none;
    border-radius: 15px;
    color: #fff;
    margin-top: 1.5rem;
    cursor:pointer;
}